In [1]:
import pandas as pd
import numpy as np

In [3]:
np.random.randint(1,21,100)

array([ 1,  1,  9,  6,  1, 13, 20,  5, 17,  2, 16, 16,  9,  7,  1, 18, 16,
        5,  3,  4,  5, 12, 20, 12, 20, 20,  4, 20,  4,  2,  1,  8, 11, 20,
        9,  4, 19, 19, 17, 10,  2, 17,  6, 19, 19,  5, 14,  3,  8, 20, 11,
       19, 20,  6,  4,  7,  4, 10, 15, 11,  3,  1,  7,  2, 17, 12,  7, 15,
       18, 17, 16, 12,  4, 19,  2, 12,  9,  7,  3,  7,  7,  5,  3,  8, 15,
       10, 11, 11, 17, 14, 20, 16, 14,  3, 17, 10, 16, 14,  2, 16])

In [10]:
uri = {'X':np.random.randint(1,21,100),'Y':np.random.randint(1,21,100)}
df = pd.DataFrame(uri)
df["X + Y"] = df.X + df.Y
df

     X   Y  X + Y
0    6   2      8
1   20   3     23
2    2   9     11
3   18   3     21
4    8  11     19
..  ..  ..    ...
95  12   6     18
96   5  14     19
97  13  14     27
98   9  16     25
99  17  14     31

[100 rows x 3 columns]